ul#menu.menu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
/*
	-moz-border-radius: 50px;
	border-radius: 50px;
*/
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
	overflow: initial;
}

.menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
	height: 30px;
    overflow: initial;
    
}
.menu li.group-separator {
	border-left: 1px solid #444;
	height: 20px;
	padding: 0 5px 10px 5px;
}
.menu label {color:#999!important;}
.menu a, #menu a
{
	/*float: left;*/
	height: 30px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/30px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
.menu li:hover > a
{
	color: #fafafa;
}

*html .menu li a:hover /* IE6 */
{
	color: #fafafa;
}

.menu li:hover > ul
{
	display: block;
}
li:hover > ul > div > ul
{
	display: block;
}

/* Sub-menu */

.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 5px;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
    list-style-type: none;
}

.menu ul right {
    left:-80px;
    position:relative;
    float:right;
}

.menu ul ul
{
  top: 0;
}

.menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

.menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.menu ul a
{    
    padding: 10px;
	height: 10px;
	width: auto;
	min-width: 40px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html .menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html .menu ul a /* IE7 */
{    
	height: 10px;
}

.menu ul a:hover
{
    background-color: #0186ba;
	background-color: -moz-linear-gradient(#04acec,  #0186ba);	
	background-color: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background-color: -webkit-linear-gradient(#04acec,  #0186ba);
	background-color: -o-linear-gradient(#04acec,  #0186ba);
	background-color: -ms-linear-gradient(#04acec,  #0186ba);
	background-color: linear-gradient(#04acec,  #0186ba);
	color: #FFF!important;
}

.menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.menu ul:first-child li:first-child > a:after, 
.menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.menu li.drop > a:before
{
    content: '';
  position: absolute;
  right: 15px;
  top: 14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #999;
}


.menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}




.menu ul li:last-child > a
{
	
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    
}
.menu ul li:only-child > a
{
	
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    
}

/* Clear floated elements */
.menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .menu             { zoom: 1; } /* IE6 */
*:first-child+html .menu { zoom: 1; } /* IE7 */
#containerStatus {display:none;}

.menu li.right {float:right;}
.menu li.right ul {left: inherit; right:5px;}
.menu li.right ul li:first-child > a:after
{
    left: inherit;
    right: 45px;
}
.menu-cont {position:fixed;}
ul.col {
  position: relative;
  float: left;
}
#remove-login img {
	vertical-align: middle;
}

ul.buttonMenu {
	display:block!important;
	list-style: none;
	margin:0;
	padding:0;
}
ul.buttonMenu li {
	display:inline!important;
}
ul.contextMenu {
	list-style: none;
	margin:0;
	padding: 1em;
    border-radius: 0.5em;
    border: 0.1em solid #ccc;
    -webkit-box-shadow: 0.2em 0.2em 1em #999;
    -moz-box-shadow: 0.2em 0.2em 1em #999;
    box-shadow: 0.2em 0.2em 1em #999;
}