/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background: lightgrey;
    font-family: 'Istok Web', sans-serif;
    height: 100%;
    min-height: 100%;
}
canvas{
    padding: 0;
    margin: auto;
    left: 0;
    right: 0;
}